*{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Rubik Bubbles', cursive;
     /* img source unsplash.com artist hin-bong-yeung */
     background-image: url(./images/hin-bong-yeung-jF946mh5QrA-unsplash.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     object-fit: contain;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

header h1{
    font-size: 1.5rem;
    padding: 2rem;
    letter-spacing: .10em;
    text-shadow: 2px 4px 4px rgba(143, 32, 32,.5);
}

/* main styling */
#container{
    margin:6.5em 40%;
    display: grid;
    /* grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat(25,1fr); */
}

.row{
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin: auto;
    border: solid 0.2px #000;
}

.inline{
    background-color: grey;
    height: 5px;
    width: 5px;
    margin: auto;
}

.colour {
    background-color: black;
}

/* links */
a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #fdb44b;
}

/* footer */
footer{
    margin-top: auto;
    padding: 2rem;
    font-style: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

/* responsiveness */
@media only screen and (max-width: 900) {
    header h1{
        font-size: 1.5rem;
    }
    .ft-one p,.ft-two p,.ft-one a,.ft-two a {
        font-size: .9rem;
    }
    footer{
        gap: 2em;
    }
}

@media only screen and (max-width: 500px) {
     header h1{
        font-size: 1rem;
        padding: 1em 0;

     }
    footer{
        gap: 1.5em;
    }
    .ft-one p,.ft-two p,.ft-one a,.ft-two a {
        font-size: .6rem;
    }
}
