*{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Rubik Bubbles', cursive;
     /* img source unsplash.com artist hin-bong-yeung */
     background-image: url(./images/hin-bong-yeung-jF946mh5QrA-unsplash.jpg);
     background-repeat: no-repeat; 
     background-position: center;
     background-size: cover;
     object-fit: contain;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

header h1{
    font-size: 1.5rem;
    padding: 2rem;
    letter-spacing: .10em;
    text-shadow: 2px 4px 4px rgba(143, 32, 32,.5);
}

/* main styling */
#container{
    margin:auto;
    display: grid;
    width: 400px;
    height: 400px;
}

.row{
    background-color: #fff;
    border: solid 1px #000;
}

/* btn-container */

#btn-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

button{
    border-color: rgba(173, 32, 63, 0.7);
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    background-color: rgba(173, 32, 63, 0.7);
    transition: 5ms;
}

button:hover{
    transform: scale(1.2);
}

/* links */
a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #fdb44b;
}

/* footer */
footer{
    margin-top: auto;
    padding: 2rem;
    font-style: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

/* responsiveness */
@media only screen and (max-width: 900px) {
    header h1{
        font-size: 1.5rem;
    }
    .ft-one p,.ft-two p,.ft-one a,.ft-two a {
        font-size: .9rem;
    }
    footer{
        gap: 2em;
    }
}

@media only screen and (max-width: 500px) {
     header h1{
        font-size: 1rem;
     }
     #container{
        margin-top: 5em;
        width: 200px;
        height: 200px;
     }

    footer{
        gap: 1.5em;
    }
    .ft-one p,.ft-two p,.ft-one a,.ft-two a {
        font-size: .6rem;
    }
}
